<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-primary" role="alert">
          <p>{{titulo}}</p>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
        <app-body></app-body>
      </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="usr">Nome:</label>
        <input type="text" class="form-control" [(ngModel)]="dados.Nome">
      </div>
      <div class="form-group">
          <label for="usr">Apelido:</label>
          <input type="text" class="form-control" [(ngModel)]="dados.Apelido">
      </div>
      <div class="form-group">
          <label for="usr">Idade:</label>
          <input type="text" class="form-control" [(ngModel)]="dados.Idade">
      </div>
      <div class="form-group">
          <label for="usr">Documento:</label>
          <input type="text" class="form-control" [(ngModel)]="dados.Documento">
      </div>
      <button type="button" (click)="eventoBotao()" class="btn btn-primary btn-block">Evento Angular</button>
    </div>
    <div class="col-6">
      <app-filho [propriedadefilho]="dados"></app-filho>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
        <app-footer></app-footer>
      </div>
  </div>

  <div class="row">
    <div class="col-12">
        <ul>
            <li *ngFor="let info of informacion">
              <h5>{{ info.Nome | slice:0:4 }} | {{ info.Apelido | titlecase }} | {{ info.Saldo | percent}}</h5>
              <p>{{ info.Nome | concatenarCurso:info.Apelido }}</p>
            </li>
        </ul>
        {{ informacion | json}}
    </div>
</div>

<h3>Componente Routing</h3>

<h5>Opções de Rotas</h5>
<ul>
  <li>
    <h2><a [routerLink]="['/']">Home</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/componente1']">Componente 1</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/componente2']">Componente 2</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/componente20']">Componente 3</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/componente2', 7000]">Um parâmetro</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/componente2', 900, 1200]">Dois parâmetros</a></h2>
  </li>
</ul>
<router-outlet></router-outlet>

  <div class="row"> 
    <div class="col-6">
      <h1>Formulário</h1>
      <form [formGroup]="formulario" (submit)="onSubmit(formulario)">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Ingresa Nombre">
          <div class="error" *ngIf="formulario.controls.nombre.errors">
            el campo contiene un error
          </div>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" formControlName="apellido" class="form-control" id="apellido" placeholder="Ingresa Apellido">
          <div class="error" *ngIf="formulario.controls.apellido.errors">
            el campo contiene un error
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresa email">
          <div class="error" *ngIf="formulario.controls.email.errors">
            el campo contiene un error
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-persona></app-persona>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Listado de Productos </h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Id</td>
            <td>Marca</td>
            <td>Nombre</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{ producto.value._id }}</td>
            <td>{{ producto.value.marca }}</td>
            <td>{{ producto.value.nombre }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>-->
